asgiref @ file:///Users/ec2-user/ci_py311/asgiref_1678390266874/work
certifi==2023.7.22
charset-normalizer==3.3.2
Django @ file:///Users/ec2-user/ci_py311/django_1678411010555/work
idna==3.4
mysqlclient==2.1.1
Pillow==10.1.0
PyMySQL==1.1.0
requests==2.31.0
sqlparse @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_cb77ukgrpu/croot/sqlparse_1690901947630/work
urllib3==2.0.7
